<%@test_cases.each do |tcase|%>
          <tr>
            <td><%= link_to (tcase.title), test_case_path(tcase) %></td>
            <div class="ml-3">
                <td><%=link_to '<i class="fa fa-pencil"></i>'.html_safe, (edit_test_case_path(tcase))%>
                </td>  
                <td>
                   <i class="fa fa-trash text-danger" onclick="openDeletePopupModal('<%=tcase.id%>');"></i>
                </td>
            </div>
          </tr>
        <%end%>