<%= form_with model: @project_module.new_record? ? [@project, @project_module] : @project_module , id:'module_form' do |form|%>
  <div class="input-group mb-5">
    <div class="input-group-addon bg-secondary infield">
      <i class="fa fa-book prefix text-white booki mt-3"></i>  
  </div>
  <%=form.text_field :module_name, id: 'project_module_name', placeholder:'Project Module Name',class:"form-control error-module"%>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <%=form.submit class:"btn btn-primary"%>
  </div>  
<%end%>


