<% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>

<button onclick="goBack()" class="btn btn-primary">Back</button>

<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      
        <div class="col-sm-4">
          <h4>Testcase name:<%= @test_case.title%></h4>
          <u>Description</u>
            <p>
            <%=@test_case.description%>
          </p>
        </div>
    </div>
  </div>
</div>
