// Place all the styles related to the ProjectController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";

.m-width
{
	width:0px;
}
.sm-text
{
	font-size:12px;
}

.bg-nice
{
	background-color:#f5f5f5;
	text-color:#ddd;
	border-left: 4px solid #094493!important;
	line-height:39px;
}
.bg-inactive
{
	line-height:39px;
}

.bg-inactive:hover
{
	background-color:#ddd;
}
.project-heading
{
	margin-top:22px;
}
.field_with_errors input
{
 border: 1px solid red !important;
}

