// Place all the styles related to the ProjectController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.m-width
{
	width:0px;
}
.sm-text
{
	font-size:12px;
}

.bg-nice
{
	background-color:#888;
	text-color:#fff
}
.bg-inactive
{
	background-color:#ddd;
}
.project-heading
{
	margin-top:22px;
}


