// Place all the styles related to the TestCases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
    font-size: 0.95rem;
}
.border-Medium
{
	 border-left: 4px solid blue!important;
	 padding-bottom:0px!important;
}
.border-High
{
	 border-left: 4px solid orange!important;
	 padding-bottom:0px!important;
}
.border-Low
{
	 border-left: 4px solid green!important;
	 padding-bottom:0px!important;
}
.create-case-button {
    margin-left: 388px;
}

.attach-left{
	padding-left:0px!important;
	}

.attach-right
{
	padding-right:0px!important;
}


.arrow-alt
{
    border-bottom: 8px solid transparent;
    border-left: 8px solid #bbc6de !important;
    border-top: 8px solid transparent;
      display: block; 
            height: 0; 
     left: auto;
    margin-top: -10px; 
    position: absolute;
    right: -7px;
    color: #888;
    top: 50%;
    width: 0;
}
.t-active
{
  background-color:#f6f7fb!important;	
}

h6
{
  font-family: "Roboto", sans-serif!important;
}
s.text
{
  font-size:0.95rem;
}

fixed-edit
{
  position:fixed;
  z-index:1030;
}


div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover i ,div.show-image:hover sa{
    display: block;
}
div.show-image i,div.show-image a {
    position:absolute;
    display:none;
}
div.show-image i.update,div.show-image a.update {
    top:50%;
    left:10%;
}
div.show-image i.delete,div.show-image a.delete{
    top:50%;
    left:90%;
}


