<ul class="navbar-nav navbar-sidenav bg-light m-width" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="      Project Name">

  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Project">
    <p></p>
    <p class="project-heading ml-1">
      Modules
      <a href="<%#=new_project_project_module_path(@project.id)%>" class="text-dark text-right float-right mr-2"  id="newmodule" data-remote="true" title="Add module">
        <i class="fa fa-plus" data-remote="true"></i>
      </a>
    </p>
    <div class="sidenav-second-level" id="collapseComponents">
     
        
     
    </div>
  </li>  
</ul>
    