<footer class="footer ml-0-mb-0-imp b-radius-0 fixed-bottom">
      <div style="background-color:#f5f5f5;">
        <div class="copyright-info text-center">
          <span class="text-muted">
              © DispatchTrack 2018 SNIST. (
              Development
            )  
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </footer>